@model FirstProgramUI.Models.OfferModel.OfferGetModel
@{
    ViewData["Title"] = "UpdateAll";
    //Layout = "~/Views/Shared/Layout.cshtml";
}


<h1>Fatura Ekle</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateAll" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" />

            <div class="form-group">
                <label asp-for="Name">Teklif Adı</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferAmount" hidden="hidden">Teklif Adedi</label>
                <input asp-for="OfferAmount" class="form-control" hidden="hidden" />
                <span asp-validation-for="OfferAmount" class="text-danger" hidden="hidden"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferPrice" hidden="hidden">Teklif Fiyatı</label>
                <input asp-for="OfferPrice" class="form-control" hidden="hidden" />
                <span asp-validation-for="OfferPrice" hidden="hidden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden="hidden" value="@Model.ProductID" asp-for="@Model.ProductName" class="form-control" />
            </div>
            <div class="form-group">
                <label hidden="hidden">Ürün Adı</label>
                <select hidden="hidden" class="form-control" name="ProductID">
                    <option value="@Model.ProductID">@Model.ProductName</option>
                    @foreach (var item in Model.Product)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label hidden="hidden">Tedarikçi Adı</label>
                <select hidden="hidden" class="form-control" name="SupplierID">
                    <option value="@Model.SupplierID">@Model.SupplierName</option>
                    @foreach (var item in Model.Supplier)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Fatura Adı</label>
                <select class="form-control" name="InvoiceID">
                    <option value="@Model.InvoiceID">@Model.InvoiceName</option>
                    @foreach (var item in Model.Invoice)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label hidden="hidden">Durum Adı</label>
                <select hidden="hidden" class="form-control" name="StatusID">
                    <option value="@Model.StatusID">@Model.StatusName</option>
                    @foreach (var item in Model.Status)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Listeye geri dön</a>
            </div>
        </form>
    </div>
</div>
